---
import Main from '../layouts/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<h1>Ahmad Habibi's web</h1>
</Main>
