---
import HeaderLink from './HeaderLink.astro';
---

<header class="h-[64px] bg-white fixed flex flex-row w-full shadow-md top-0 right-0 left-0">
	<div class="w-8/12 mx-auto flex flex-row justify-between items-center">
		<a href="/">
			<img
				src="/img/h14-logo.svg"
				class="w-[70px] h-auto"
				alt="Logo"
			/>
		</a>
		<nav class="flex flex-row items-center gap-3">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/project">Project</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</nav>
	</div>
</header>