---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {title, description} = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="body">
    <Header />
    <main class="mt-[64px] min-h-[83vh] md:w-8/12 py-7 mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
